# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# IDE directories
.idea

# swagger directories
swagger

# coverage directories
coverage

# dotenv file
.env
.env.*
